@font-face {
    font-family: 'Reem Kufi';
    src: url('../fonts/ReemKufi-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.nosBiens {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bien {
    position: relative;
    max-width: 334px;
    max-height: 497px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background: rgba(255, 255, 255, 0.98);
    border-radius: 15px;

    font-family: 'Reem Kufi';
    margin-bottom: 5vh;
}

.bienImage {
    width: 334px;
    height: 343px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.bienInfos {
    max-height: 154px;
    height: 15vh;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.bienTitre {
    margin: 0;
    color: black;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.5em;
}

.bienTitre::first-letter{
    text-transform: uppercase;
}

.bienInfos div {
    display: flex;
    align-items: center;
}

.bienInfos div img {
    margin-right: 15px;
}

.bienType {
    margin: 0;
}

.bienCodePostal {
    margin: 0;
}

.bienPrix {
    margin: 0;
    color: #FF9900;
}

.favorite-button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite-button__image {
    background-color: rgba(0, 0, 0, 0.25);
    background-size: 90px 90px;
    background-position: center center;
    border-radius: 15px 0 15px 0px;
    height: 50px;
    width: 50px;
    padding: 15px;

    transition: all 250ms;
}

.favorite-button__image:hover{
    background-color: #62991c;
}

@keyframes growth {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}